<h1>Find out if your number is prime!</h1>

<form action="/output">
  <div class="form-group">
    <label for="number">enter a number to check if it's prime</label>
    <input id="n1" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>


<!-- will have to change the form input type  -->
